{% extends "base.html" %}

{% block header %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h1 align="center">
                Mobee's Zentrale
            </h1>
        </div>
        <div id="backbtn" class="col-sm-4">&nbsp;
            <a role="button" class="btn btn-dark  div_buttons btn-secondary" href="{% url 'bills' %}">
                Rechnungsposten 
            </a>
            <a role="button" class="btn btn-dark  div_buttons btn-secondary" href="{% url 'customers' %}">
                Kunden 
            </a>
            <a role="button" class="btn btn-dark  div_buttons btn-secondary" href="{% url 'logout' %}">
                Logout 
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<div id="content" class="container-fluid">
    <div class="jumbotron">
        <p>Dies ist eine Liste der auf dem Server hinterlegten Rechnungen:</p>
        <ul class="list-group">
            {% for bill in bills_list %}
            <li class="list-group-item">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2">
                                Rechnung Nr.: {{bill.number}}
                            </div>
                            <div class="col-sm-3">
                                Kunde: {{bill.customer.company}} {{bill.customer.surname}}
                            </div>
                            <div class="col-sm-6">
                                <a role="button" class="btn btn-info" href="{% url 'bill' bill.id %}">
                                    Ansehen 
                                </a>
                                <a role="button" class="btn btn-warning div_buttons" href="{% url 'edit_bill' bill.id %}">
                                    Bearbeiten 
                                </a>
                                <a role="button" class="btn btn-danger div_buttons" href="{% url 'del_bill' bill.id %}">
                                    Löschen 
                                </a>
                                <a role="button" class="btn btn-primary div_buttons" href="{% url 'dl_bill' bill.id %}">
                                    PDF 
                                </a>
                            </div>
                        </div>
                    </div>
                    </li>
            {% endfor %}
        </ul>	
        <a role="button" class="btn float-right btn-success" href="/bills/new_bill/">Neues Dokument</a>
    </div>
</div>
{% endblock %}