{% extends "base.html" %}

{% block scripts %}
{% endblock %}

{% block header %}
<div class="container-fluid">
    <div class="row">
        <div id="backbtn" class="col-sm-2">&nbsp;
            <a role="button" class="btn btn-dark" href="{% url 'customers' %}">
                Zurück 
            </a>
        </div>
        <div class="col-sm-8">
            <h1 align="center">
                {{ title }}
            </h1>
        </div>
    </div>
</div>
{% endblock %}

{% block main %}
<div id="content" class="container-fluid">
    <div class="jumbotron">
        <hr class="my-4"> 
        <h3>
            Kundeninformationen
        </h3>
        <table class="table table-hover">
            <tr>
                <td class="">Firma:</td>
                <td>{{customer.company}}</td>
            </tr>
            <tr>
                <td class="">Name:</td>
                <td class="">{{customer.surname}} {{customer.name}}</td>
            </tr>
            <tr>
                <td class="">Addresse</td>
                <td>{{customer.street}}, {{customer.city}}</td>
            </tr>
        </table>
        <h3>
            Rechnungsinformationen
        </h3>

        <h3>
            Rechnungsposten
        </h3>

        <div class="row">
            <div class="col-sm-4">
                <a role="button" class="btn float-right btn-success btn-block" href="{% url 'new_bill_from_customer' customer.id%}">
                    Neue Rechnung
                </a>
            </div>
            <div class="col-sm-4">
                <a role="button" class="btn float-right btn-warning btn-block" href="{% url 'edit_customer' customer.id%}">
                    Bearbeiten
                </a>
            </div>
            <div class="col-sm-4">
                <a role="button" id="form_delete" class="btn float-right btn-danger btn-block" href="{% url 'del_customer' customer.id %}">
                    Löschen 
                </a>
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>
</div>
{% endblock %}
